@model VaporDomain.Model.Publisher

@{
    ViewData["Title"] = "Створити видавця";
}

<h1>Створити видавця</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <div class="mb-3">
                <label asp-for="Name" class="form-label text-info"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mt-4">
                <input type="submit" value="Створити" class="btn btn-primary btn-outline-success" />
                <a asp-action="Index" class="btn btn-dark btn-outline-secondary ms-2">Назад до списку</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}