@model VaporDomain.Model.Review

@{
    ViewData["Title"] = "Створити відгук";
}

<h1 class="text-info">
    Додавання відгуку до гри
    <span class="text-light">@ViewBag.GameTitle</span>
</h1>
<h4 class="text-primary mt-3">Відгук</h4>
<hr class="border-primary" />
<div class="row">
    <div class="col-md-6">
        <div class="card bg-transparent border-primary p-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3 fw-bold"></div>
                <div class="mb-3">
                    <input type="hidden" asp-for="GameId" />
                </div>
                <div class="mb-3">
                    <label asp-for="Rating" class="form-label text-info"></label>
                    <input asp-for="Rating" type="number" min="1" max="10" class="form-control" />
                    <span asp-validation-for="Rating" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="Content" class="form-label text-info"></label>
                    <textarea asp-for="Content" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="mt-2">
                    <input type="submit" value="Створити" class="btn btn-primary" />
                    <a asp-controller="Games" asp-action="Details" asp-route-id="@ViewBag.GameId" class="btn btn-secondary ms-2">Скасувати</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}