@model VaporDomain.Model.Review

@{
    ViewData["Title"] = "Редагувати відгук";
}

<h1 class="text-info">Редагувати</h1>
<h4 class="text-primary mt-3">Відгук</h4>
<hr class="border-primary" />
<div class="row">
    <div class="col-md-6">
        <div class="card bg-transparent border-info p-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3 fw-bold"></div>
                <div class="mb-3">
                    <label asp-for="GameId" class="form-label text-info"></label>
                    <select asp-for="GameId" class="form-select" asp-items="ViewBag.GameId"></select>
                    <span asp-validation-for="GameId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="UserId" class="form-label text-info"></label>
                    <select asp-for="UserId" class="form-select" asp-items="ViewBag.UserId"></select>
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Raiting" class="form-label text-info"></label>
                    <input asp-for="Raiting" type="number" min="1" max="10" class="form-control" />
                    <span asp-validation-for="Raiting" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="CreatedDate" class="form-label text-info"></label>
                    <input asp-for="CreatedDate" type="date" class="form-control" />
                    <span asp-validation-for="CreatedDate" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="Content" class="form-label text-info"></label>
                    <textarea asp-for="Content" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Id" />
                <div class="mt-2">
                    <input type="submit" value="Зберегти" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary ms-2">Назад до списку</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}